# edit and save as .env

DOMAINNAME=docker.localhost
VOLUMES_DIR=./docker/volumes
COMPOSE_FILE=docker-compose.base.yml:docker-compose.dev.yml

MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=root

SMTP_HOST=
SMTP_SECURE=ssl
SMTP_PORT=465
SMTP_USER=
SMTP_PASSWORD=
FROM_ADDRESS=

